@import "../../../../styles/styles.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  //Fonts
  font-size: 14px;
  font-family: $font-normal;
  //Color

  //Size
  width: 100%;
  //Margin y Padding
  //padding: $padding;
  //Style
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  //Transition
}

.border {
  border: 1px solid $border;
  border-radius: 6px;
  //padding: $padding;
  width: 100%;
}

.tabs {
  display: flex;
  flex-direction: row;
  padding: $padding-small;
}

.tabs-body {
  display: flex;
  flex-wrap: wrap;
  padding: $padding-small;
  overflow: hidden;
  max-height: 100%;
}

.tab-label {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $border;
  cursor: pointer;
  width: 100%;
  color: $color-medium;

  &.active {
    color: inherit;

    & .activated {
      border-bottom: 3px solid $backcolor-primary;
      width: 100%;
      transition: width 0.3s ease-out;
    }
  }
}

.label {
  padding: 1rem;
}

.activated {
  position: relative;
  margin: 0px;
  width: 0%;
  top: 0%;
}
