<div>
    <div class="row px">
        <div class="bigtitle">
            Instalación
        </div>
    </div>
    <div class="row px">
        <force-separator class="w-full"></force-separator>
    </div>
    <div class="row px pb-small">
        <div class="parrafo ">
            Para utilizar esta librería se tiene que copiar la carpeta <a style="text-decoration: none;" href="../../../../assets/force-lib.rar" download="force-lib.rar"><span class="background primary">force-lib</span></a> dentro de la carpeta <span class="background">scr</span> de tu proyecto.
        </div>
    </div>
    <div class="row px pb-small">
        <div class="parrafo ">
            También se debe copiar los archivos <a style="text-decoration: none;" href="../../../../assets/iconos.rar" download="iconos.rar"><span class="background primary">iconos</span></a> dentro de la carpeta <span class="background">assets</span> de tu proyecto.
        </div>
    </div>
    <div class="row px pb-small">
        <div class="parrafo ">
            Luego se debe agregar las siguientes lineas en el archivo <span class="primary">angular.json</span>.
        </div>
    </div>
    <div class="row px pb-small">
        <div class="row column ystart codigo">
            <span class="row ycenter"><span class="rowNumber"></span><pre>...</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>"styles": [</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>   ...</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>   "src/assets/css/uicons-regular-rounded.css",</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>   "src/assets/css/uicons-solid-rounded.css"</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>],</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>...</pre></span>
        </div>
    </div>
    <div class="row px pb-small">
        <div class="parrafo ">
            También se debe actualizar el archivo <span class="primary">styles.scss</span>.
        </div>
    </div>
    <div class="row px pb-small">
        <div class="row column ystart codigo">
            <span class="row ycenter"><span class="rowNumber"></span><pre>@import 'app/force-lib/styles/styles.scss';</pre></span>
        </div>
    </div>
    <div class="row px pb-small">
        <div class="parrafo ">
            Finalmente se deben agregar las siguientes lineas en el archivo <span class="primary">tsconfig.json</span>.
        </div>
    </div>
    <div class="row px pb-small">
        <div class="row column ystart codigo">
            <span class="row ycenter"><span class="rowNumber"></span><pre>...</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>"paths": &#123;</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>   ...</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>   "&#64;force/controls/*":["app/force-lib/controls/*"],</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>   "&#64;force/models/*":["app/force-lib/models/*"],</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>   "&#64;force/directives/*":["app/force-lib/directives/*"],</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>   "&#64;force/services/*":["app/force-lib/services/*"]</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>&#125;,</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>...</pre></span>
        </div>
    </div>
    <div class="row px pb-small">
        <div class="parrafo ">
            Con todas estas configuraciones el proyecto está listo para usar la librería.
        </div>
    </div>
</div>

