<div>
    <div class="row px">
        <div class="bigtitle">
            Instalación
        </div>
    </div>
    <div class="row px">
        <force-separator class="w-full"></force-separator>
    </div>
    <div class="row px pb-small">
        <div class="parrafo ">
            Para utilizar esta librería se tiene que copiar la carpeta <span class="background primary">force-lib</span> dentro de la carpeta <span class="background">scr</span> de tu proyecto.
        </div>
    </div>
    <div class="row px pb-small">
        <div class="parrafo ">
            Luego se debe agregar las siguientes lineas en el archivo <span class="primary">angular.json</span>.
        </div>
    </div>
    <div class="row px pb-small">
        <div class="row column ystart codigo">
            <span class="row ycenter"><span class="rowNumber"></span><pre>...</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>"styles": [</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>   ...</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>   "src/assets/css/uicons-regular-rounded.css",</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>   "src/assets/css/uicons-solid-rounded.css"</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>],</pre></span>
            <span class="row ycenter"><span class="rowNumber"></span><pre>...</pre></span>
        </div>
    </div>
    <div class="row px pb-small">
        <div class="parrafo ">
            También se debe actualizar el archivo <span class="primary">styles.scss</span>.
        </div>
    </div>
    <div class="row px pb-small">
        <div class="row column ystart codigo">
            <span class="row ycenter"><span class="rowNumber"></span><pre>@import 'app/force-lib/styles/styles.scss';</pre></span>
        </div>
    </div>
    <div class="row px pb-small">
        <div class="parrafo ">
            Con todas estas configuraciones el proyecto está listo para usar la librería.
        </div>
    </div>
</div>

